<div class="footer-background">
    <footer class="indent">
        <div>
            <img src="/img/logo.png" class="header-logo" alt="logo">
        </div>
        <div class="footer-menu">
            <ul>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/support">Поддержка</a></li>
            </ul>
        </div>
        <div class="footer-links" >
            <ul>
                <li><a href="instagram"><img src="img/free-icon-instagram-733558 1.svg" alt="instagram logo"></a></li>
                <li><a href="telegram"><img src="img/telegram_1.svg" alt="telegram logo"></a></li>
                <li><a href="facebook"><img src="img/facebook_1.svg" alt="facebook logo"></a></li>
            </ul>
        </div>
    </footer>
</div>
