<header class="header-main">
    <div>
        <img src="/img/logo.png" class="header-logo" alt="logo">
    </div>
    <nav>
        <ul>
            <li class="main"><a href="/">Главная</a></li>

            <li><a href="flowers">Цветы</a></li>

            <li><a href="about">О нас</a></li>

            <li><a href="login">Вход</a></li>
        </ul>
    </nav>
    <div class="header-cart">
        <a href="/cart" onclick="">
            <img src="/img/shopping-cart_1.png" class="header-cart-img" alt="logo">
            <p>Корзина</p>
        </a>
    </div>
</header>

