<header class="font-menu">
    <img src="/img/logo.png" class="header-logo" alt="logo">
    <nav>
        <ul class="header-nav">
            <li class="main">
                <a href="/">Главная</a>
            </li>

            <li class="flowers">
                <a href="/flowers">Цветы</a>
            </li>


            <li class="about">
                <a href="/about">О нас</a>
            </li>

            <li class="contacts ">
                <a href="/contacts">Контакты</a>
            </li>

            <li>
                <a href="/login">Вход</a>
            </li>
        </ul>
    </nav>
    <div class="header-cart">
        <a href="/cart">
            <img src="/img/shopping-cart_1.png" class="header-cart-img" alt="logo">
            <p>Корзина</p>
        </a>
    </div>
</header>

