<header class="header-main">
    <div>
        <img src="/img/logo.png" class="header-logo" alt="logo">
    </div>
    <nav>
        <ul>
            {{#if isAuth}}
                <li class="main"><a href="/">Главная</a></li>

                <li><a href="flowers">Цветы</a></li>

                <li><a href="about">О нас</a></li>

                <li><a href="/login/logout">Выход</a></li>

                <li><a href="/cart" style="display: flex;">
                    <img src="/img/shopping-cart_1.png" style="padding-right: 5px" class="header-cart-img" alt="logo">
                    <p>Корзина</p>
                </a>
                </li>
            {{else}}
                <li class="main"><a href="/">Главная</a></li>

                <li><a href="flowers">Цветы</a></li>

                <li><a href="about">О нас</a></li>

                <li><a href="login">Вход</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

