{{> head }}

<body>

{{#if isHome}}
    <div class="background-header-sec1">
        <div class="indent ">
            <div>
                {{> header}}
            </div>
            {{{ body }}}
        </div>
        {{> foot}}
    </div>
{{else}}
    <div>
        <div class="grad">
            <div class="indent ">
                {{> header}}
                {{{ body }}}
            </div>
            {{> foot}}
        </div>
    </div>
    </div>
{{/if}}
{{> footer}}
</body>
