{{> head }}

<body>

{{#if isHome}}
    <div class="background-header-sec1">
        <div class="indent ">
            <div>
                {{> header}}
            </div>
            {{{ body }}}
        </div>
        {{> foot}}
    </div>
{{else}}
    <div class="background-color">
        <div class="indent ">
            <div>
                {{> header}}
            </div>
            {{{ body }}}
        </div>
        {{> foot}}
    </div>
{{/if}}
{{> footer}}
</body>
