{{> head }}

<body>

{{#if isHome}}
    <div class="background">
        <div class="indent  ">
            <div>
                {{> header}}
            </div>
            {{{ body }}}
        </div>
        {{> foot}}
    </div>

{{else}}


            <div class="header-other ">
                <div class="indent">{{> header}}</div>

            </div>
            <div class="indent">{{{ body }}}</div>


        {{> foot}}





{{/if}}
{{> footer}}
</body>
