{{> head }}

<body>
<div class="background-header-sec1">
    <div class="s1 ">
        <div>
            {{> header}}

        </div>
        {{{ body }}}

    </div>
    {{> foot}}
</div>

{{> footer}}
</body>
