<div class="about-block">
    <div class="about">
        <label>О нас</label>
        <p>Пример текстаПример текстаПример текстаПример текстаПример текстаПример текста
            Пример текстаПример текстаПример текстаПример текстаПример текстаПример текстаПример текстаПример
            текстаПример текстаПример текстаПример текста
            м</p>
    </div>
    <div class="addres">
        <label>Адрес</label>
        <p>Адрес расположения</p>
    </div>
    <div class="map">
        <label>Карта</label>
        <div id="mapid"></div>
    </div>

</div>
