<div class="contacts">
    <div class="contacts-text">
        <label>
            Контакты
        </label>
        <ul>
            <li>Email:<a href="#">taraskalaida@gmail.com</a></li>
            <li>Телефон:<a href="#">388389389288</a></li>
            <li>Telegram:<a href="#">telegram</a></li>
            <li>Instagram:<a href="#">instagram</a></li>
            <li>Facebook:<a href="#">facebook</a></li>
        </ul>
    </div>
    <div class="contacts-img">
        <img src="/img/Group 13.svg" alt="flowers">
    </div>
</div>
