<div class="Sort">
    <ul>
        <li><a href="#">Цвет</a></li>
        <li><a href="#">Цена</a></li>
        <li><a href="#">Название</a></li>
    </ul>
</div>
<div class="goods">
    <div class="rectangle">
        <div class="flower-i`mg">
            <img src="/img/Rectangle 9.png" alt="logo">
        </div>
        <div class="flower-text">
            <p>Пример текста</p>
        </div>
    </div>
</div>
