<sec1 >
    <div class="dop_sec1">
        <div class="dop_sec1_text1">
            <p>Цветы не решают всех проблем, но они - хорошее начало</p>
        </div>
        <div class="dop_sec1_text2">
            <p>Выберите цветочек уже сейчас и наслаждайтесь его цветением долгие годы</p>
        </div>
        <div class="dop_sec1_button">
            <button type="submit" class="button_buy">Приобрести цветочки</button>
        </div>
    </div>
    <div class="dop_sec2">
        <img src="/img/фототграфии.png" class="cart_img" alt="logo">
    </div>

</sec1>