<section1 >
    <div class="section1-text-div-all">
        <div class="section1-text-div-txt1">
            <p>Цветы не решают всех проблем, но они - хорошее начало</p>
        </div>
        <div class="section1-text-div-txt2">
            <p>Выберите цветочек уже сейчас и наслаждайтесь его цветением долгие годы</p>
        </div>
        <div class="section1-text-div-button">
            <a href="/flowers"><button type="submit" class="section1-text-button">Приобрести цветочки</button></a>
        </div>
    </div>
    <div class="section1-div-image">
        <img src="/img/фототграфии.png" class="header-cart-img" alt="logo">
    </div>

</section1>

<section2>
    <div class="section2-text-div">
        <p>Цветы используются для выражения любви, печали, горя, печали, и даже благодарности. Они могут выразить те чувства, которые трудно выразить словами. Розы стали символом романтических отношений между парами. Букет из красных роз - самый популярный подарок, передающий теплоту чувств. Помимо того, что цветы используются для художественного оформления помещений, они используются для улучшения настроения. Они магическим образом освежают атмосферу, успокаивают нервы, наполняют помещение ароматом.</p>
    </div>
    <div class="section2-img-div">
    </div>
</section2>
