<section1>
    <div>
        <div class="section1-text1">
            <p>Цветы не решают всех проблем, но они - хорошее начало</p>
        </div>

        <div class="section1-text2">
            <p>Выберите цветочек уже сейчас и наслаждайтесь его цветением долгие годы</p>
        </div>
        <div class="section1-button">
            <a href="/flowers">
                <button type="submit">Приобрести цветочки</button>
            </a>
        </div>
    </div>

    <div class="section1-img">
        <img src="/img/фототграфии.png" alt="flowers">
    </div>

</section1>

<section2>
    <div class="section2-text">
        <p>Цветы используются для выражения любви, печали, горя, печали, и даже благодарности. Они могут выразить те
            чувства, которые трудно выразить словами. Розы стали символом романтических отношений между парами. Букет из
            красных роз - самый популярный подарок, передающий теплоту чувств. Помимо того, что цветы используются для
            художественного оформления помещений, они используются для улучшения настроения. Они магическим образом
            освежают атмосферу, успокаивают нервы, наполняют помещение ароматом.</p>
    </div>
    <div class="section2-img">
        <img src="img/image 4.png" alt="flowers">
    </div>
</section2>
