<sec1 >
    <div class="dop_sec1">
        <div class="dop_sec1_text1">
            <p>Цветы не решают всех проблем, но они - хорошее начало</p>
        </div>
        <div class="dop_sec1_text2">
            <p>Выберите цветочек уже сейчас и наслаждайтесь его цветением долгие годы</p>
        </div>
        <div class="dop_sec1_button">
            <button type="submit" class="button_buy">Приобрести цветочки</button>
        </div>
    </div>
    <div class="dop_sec2">
        <img src="/img/фототграфии.png" class="cart_img" alt="logo">
    </div>

</sec1>

<sec2>
    <div class="sec2_text">
        <p>Цветы используются для выражения любви, печали, горя, печали, и даже благодарности. Они могут выразить те чувства, которые трудно выразить словами. Розы стали символом романтических отношений между парами. Букет из красных роз - самый популярный подарок, передающий теплоту чувств. Помимо того, что цветы используются для художественного оформления помещений, они используются для улучшения настроения. Они магическим образом освежают атмосферу, успокаивают нервы, наполняют помещение ароматом.</p>
    </div>
    <div class="sec2_img">
    </div>
</sec2>