<sec1 >
    <div class="dop_sec1">
        <p>Цветы не решают всех проблем, но они - хорошее начало</p>
    </div>
    <div class="dop_sec2">
        <img src="/img/фототграфии.png" class="cart_img" alt="logo">
    </div>

</sec1>