<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Titled</title>
    <link href="../style/style.css" rel="stylesheet" type="text/css" >
</head>
<body class="background-body">
    <div class="background-header">
        <header class="s1">
            <img src="../img/лого.png" class="img1" >
            <nav class="nav s4">
                <ul>
                    <a href="#"  >
                        <li class="contacts">Контакты</li>
                    </a>
                    <a href="#"  >
                        <li class="about">О нас</li>
                    </a>
                    <a href="#"  >
                        <li class="flowers">Цветы</li>
                    </a>
                    <a href="#"  >
                        <li class="main">Главная</li>
                    </a>
                </ul>
            </nav>
        </header>
    </div>

</body>
</html>