<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Titled</title>
    <link href="../public/style.css" rel="stylesheet" type="text/css" >
</head>
<body class="background-body">
    <div class="background-header">
        <header class="s1">
            <img src="../img/лого.png" class="img1" alt="logo"/> 
            <nav class="nav s4">
                <ul>

                    <li class="contacts">
                        <a href="#">Контакты</a>
                    </li>

                    <li class="about">
                        <a href="#"  >О нас</a>
                    </li>

                    <li class="flowers">
                        <a href="#"  >Цветы</a>
                    </li>

                    <li class="main">
                        <a href="#"  >Главная</a>
                    </li>

                </ul>
            </nav>
        </header>
    </div>

</body>
</html>