<div class="login-registration">
    <ul>
        <li class="btn signin-active"><a href="#" >Регистрация</a></li>
        <li class="btn signup-inactive"><a href="#">Вход</a></li>
    </ul>
</div>
<div class="all">
    <div class=" regist-active" >
        <form action="/registration" method="post" class="registr-form"  id="reg" enctype="multipart/form-data">
            <div class="regist-input1">
                <label>Email:</label>
                <input type="email" class="eeee" name="_email">
            </div>
            <div class="registr-input2">
                <label>Пароль:</label>
                <input type="password" name="password">
            </div>
            <div class="registr-input3">
                <label>Повторите пароль:</label>
                <input type="password" name="repeatPassword">
            </div>
        </form>

    </div>
    <div class="reg-button-div-active">
        <button class="reg-button" form="reg" type="submit">Зарегистроваться</button>
    </div>
    <div class="login-inactive">
        <form action="#" class="">
            <div class="login-input1">
                <label>Логин:</label>
                <input  type="text" class=>
            </div>
            <div class="login-input2">
                <label>Пароль:</label>
                <input type="password">
            </div>
        </form>
    </div>
    <div class="log-button-div-inactive ">
        <button class="log-button">Вход</button>
    </div>

</div>

