<div>
    <div class="login-registration">
        <ul>
            <li class="btn signup-active"><a href="#" >Регистрация</a></li>
            <li class="btn signin-inactive"><a href="#" >Вход</a></li>
        </ul>
    </div>

    <div class="all">
        <div class="registration-active">
            <form id="reg" action="/login/registration" method="post" enctype="multipart/form-data">
                <div class="registration-input1" >
                    <label for="reg">Email:
                        <input type="email" name="reg_email" required>
                    </label>
                </div>
                <div class="registration-input2" >
                    <label for="reg">Пароль:
                        <input type="password" name="reg_password" minlength="8" required>
                    </label>
                </div>
                <div class="registration-input3" >
                    <label for="reg">Повторите пароль:
                        <input  type="password" name="reg_repeatPassword" minlength="8" required>
                    </label>
                </div>
            </form>

            <div class="registration-button">
                <button type="submit" form="reg">Регистрация</button>
            </div>
        </div>

        <div class="login-inactive">
            <form id="login" action="/login/log-in" method="post" enctype="multipart/form-data" >
                <div class="login-input1" >
                    <label for="login">Email:
                        <input type="email" name="login_email" required>
                    </label>
                </div>
                <div class="login-input2" >
                    <label for="login">Пароль:
                        <input type="password" name="loginPassword" minlength="8" required>
                    </label>
                </div>
            </form>
            <div class="login-button">
                <button type="submit" form="login">Вход</button>
            </div>
        </div>
    </div>
</div>