<div>
    <div class="login-registration">
        <ul>
            <li class="btn signup-active"><a href="#" >Регистрация</a></li>
            <li class="btn signin-inactive"><a href="#" >Вход</a></li>
        </ul>
    </div>

    <div class="all">
        <div class="registration-active">
            <form id="reg" action="/login" method="post">
                <input type="hidden" name="_csrf" value="{{ csrf }}">
                <div class="registration-input1" >
                    <label for="reg">Email:
                        <input form="reg" type="email" name="regemail" required>
                    </label>
                </div>
                <div class="registration-input2" >
                    <label for="reg">Пароль:
                        <input form="reg" type="password" name="regpassword" minlength="8" required>
                    </label>
                </div>
                <div class="registration-input3" >
                    <label for="reg">Повторите пароль:
                        <input form="reg" type="password" name="regrepeatpassword" minlength="8" required>
                    </label>
                </div>
                <div class="registration-input4" >
                    <label for="reg">Имя:
                        <input form="reg" type="text" name="user_name" required>
                    </label>
                </div>
                <div class="registration-input5" >
                    <label for="reg">Фамилия:
                        <input form="reg" type="text" name="user_surname" required>
                    </label>
                </div>
            </form>

            <div class="registration-button">
                <button id="test" type="submit" form="reg">Регистрация</button>
            </div>
        </div>

        <div class="login-inactive">
            <form id="login" action="/login/log-in" method="post">
                <input type="hidden" name="_csrf" value="{{ csrf }}">
                <div class="login-input1" >
                    <label for="login">Email:
                        <input form="login" type="email" name="loginEmail" required>
                    </label>
                </div>
                <div class="login-input2" >
                    <label for="login">Пароль:
                        <input form="login" type="password" name="loginPassword" minlength="8" required>
                    </label>
                </div>
            </form>
            <div class="login-button">
                <button type="submit" form="login">Вход</button>
            </div>
        </div>
    </div>
</div>