<script>$(function () {
    $(".btn").click(function () {
        $(".registration-active").toggleClass("registration-inactive");
        $(".login-inactive").toggleClass("login-active");
        $(".signup-active").toggleClass("signup-inactive");
        $(".signin-inactive").toggleClass("signin-active");


    });
});</script>

<div>
    <div class="login-registration">
        <ul>
            <li class="btn signup-active"><a href="#" >Регистрация</a></li>
            <li class="btn signin-inactive"><a href="#" >Вход</a></li>
        </ul>
    </div>

    <div class="all">
        <div class="registration-active">
            <form>
                <div class="registration-input1" >
                    <label for="">Почта:</label>
                    <input type="text" >
                </div>
                <div class="registration-input2" >
                    <label for="">Пароль:</label>
                    <input type="password">
                </div>
                <div class="registration-input3" >
                    <label for="">Повторите пароль:</label>
                    <input  type="password">
                </div>
            </form>
            <div class="registration-button">
                <button type="submit" >Регистрация</button>
            </div>
        </div>
        <div class="login-inactive">
            <form>
                <div class="login-input1" >
                    <label for="">Логин:</label>
                    <input type="text" >
                </div>
                <div class="login-input2" >
                    <label for="">Пароль:</label>
                    <input type="password">
                </div>
            </form>
            <div class="login-button">
                <button type="submit" >Вход</button>
            </div>
        </div>
    </div>
</div>
