* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-color {
    background: red;
}

.background-header-sec1 {
    display: block;
    position: relative;
    height: 960px;
    background: url("img/Flowers.jpg") no-repeat center;
    background-size: cover;
}

header {
    display: flex;
    padding-top: 36px;
    line-height: 32px;
}

.s1 {
    margin-left: 19.5%;
    margin-right: 19.5%;
}


.nav {
    margin-top: 28px;


}

.nav li {
    margin-right: 84px;
    white-space: nowrap
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.img1 {
    margin-right: 4.739%;
    height: 93px;
    width: 233px;
}

a:hover {
    color: gray;
}

.cart_img {
    width: 41px;
    height: 46px;
    margin-right: 9px;

}

.cart {
    display: flex;
    margin-top: 28px;
}

.cart a {
    display: flex;
}

sec1 {
    display: flex;
    width: 968px;
    height: 489px;
    margin-left: 10.4%;
    margin-top: 177px;
}

.dop_sec2 {
    margin-left: 30px;
}

.dop_sec2 img {
    width: 568px;
    height: 489px;
}

.foot {
    background: #000;
    height: 110px;
    left: 0;
    bottom: 0;
    margin-top: 67px;
}

.flex_foot {
    display: flex;
    align-items: center;
}

.foot_menu {
    margin-left: 114px;
    margin-right: 114px;
}

.foot_menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.foot_menu ul li {
    margin: 0 30px 0 30px;
    white-space: nowrap;
}

.foot_logos {
    display: flex;
    align-items: end;
    justify-content: flex-end
}

.foot_logos ul li {
    margin-left: 18px;
}

.font-menu {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
}

.dop_sec1{
    width: 568px;
}

.dop_sec1 {
    width: 370px;
    margin-top: 75px;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 300;
}

.dop_sec1_text1 {
    font-size: 36px;
    line-height: 36px;}

.dop_sec1_text2 {
    margin-top: 39px;
    font-size: 24px;
    line-height: 28px;
}

.dop_sec1_button {
    margin-top: 45px;

}

.button_buy {
    width: 370px;
    height: 61px;
    font-family: Roboto;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    outline: none;

}

sec2{
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    width: 1170px;
    height: 360px;
    margin-top: 264px;
}
.sec2_text{
    width: 643px;

}
.sec2_img{
    width: 537px;
    height: 354px;
    background: url("img/image 4.png") no-repeat center;
    background-size: cover;
}