* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1920px;
    height: auto;
    margin: auto;

}
.background-color-header {
    background: linear-gradient(#000000, #ffffff);
}

/*.background-color {*/
/*    background: black;*/
/*}*/
.header-other {
    display: flex;
    flex-direction: column;
}

.background-header-sec1 {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 960px;
    background: url("img/Flowers.jpg") no-repeat center;
    background-size: cover;
}

.indent {
    margin-left: 375px;
    margin-right: 375px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: gray;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    padding-top: 36px;
    line-height: 32px;
    align-items: center;
    height: 170px;
}

.header-nav li {
    margin-right: 84px;
    white-space: nowrap
}


.header-logo {
    margin-right: 84px;
    height: 93px;
    width: 233px;
}


.header-cart-img {
    width: 41px;
    height: 46px;
    margin-right: 9px;
}

.header-cart {
    display: flex;
}

.header-cart a {
    display: flex;
    align-items: center;
}

section1 {
    display: flex;
    width: 968px;
    height: 489px;
    margin-left: 10.4%;
    margin-top: 99px;
}

.section1-div-image {
    margin-left: 30px;
}

.section1-div-image img {
    width: 568px;
    height: 489px;
}

.section1-text-div-all {
    width: 370px;
    margin-top: 75px;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 300;
}

.section1-text-div-txt1 {
    font-size: 36px;
    line-height: 36px;
}

.section1-text-div-txt2 {
    margin-top: 39px;
    font-size: 24px;
    line-height: 28px;
}

.section1-text-div-button {
    margin-top: 45px;

}

.section1-text-button {
    width: 370px;
    height: 61px;
    font-family: Roboto;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    outline: none;

}

section2 {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    width: 1170px;
    height: 360px;
    margin-top: 264px;
    margin-bottom: 30px;
}

.section2-text-div {
    width: 643px;

}

.section2-img-div {
    width: 537px;
    height: 354px;
    background: url("img/image 4.png") no-repeat center;
    background-size: cover;
}

.foot {
    display: flex;
    background: #000;
    height: 160px;
    left: 0;
    bottom: 0;
}

.flex_foot {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.foot_menu {
    margin-left: 114px;
    margin-right: 114px;
}

.foot_menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.foot_menu ul li {
    margin: 0 30px 0 30px;
    white-space: nowrap;
}

.foot_logos {
    display: flex;
    align-items: end;
    justify-content: flex-end
}

.foot_logos ul li {
    margin-left: 18px;
}

.font-menu {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
}

.grad {
    height: 170px;
    background: linear-gradient(to bottom, #000000, #FFFFFF);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.Sort {
    width: 570px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-left: 149px;
}

.Sort li {
    margin-left: 151px;
}

.Sort a {
    color: #000000;

}

.Sort a:hover {
    color: gray;
}

.rectangle {
    display: flex;
    background-color: #EFEFEF;
    width: 968.62px;
    height: 160px;
    border-radius: 25px;
    margin-bottom: 20px;

}

.all {
    overflow: hidden;
    width: 934px;
    height: 430px;
    margin-bottom: 200px;
}

.flower-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    width: 200px;
    font-size: 24px;
    line-height: 29px;
    padding-left: 121px;
    padding-top: 65px;
}

.goods {
    margin-top: 100px;
    margin-left: 100px;

}

.flower-img {
    padding-top: 10px;
    padding-left: 14px;
    width: 179.89px;
    height: 140px;
}

.flower-img img {
    width: 179.89px;
    height: 140px;
    border-radius: 25px;
}

.flower-price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    width: 175px;
    font-size: 24px;
    line-height: 29px;
    padding-top: 65px;
    padding-left: 75px;
}



.flower-button {
    width: 370px;
    height: 61px;
    font-family: Roboto;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    outline: none;
}

.flower-button-div {
    padding-top: 45px;
}

.login-registration {
    float: none;
    padding-left: 344px;
    padding-top: 36px;


}

.login-registration a {
    color: black;

}

.login-registration li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-right: 228px;
}

.regist-active {
    transition: all .25s ease;

    margin-top: 87px;
    width: 955px;
    height: 218px;
}

.registr-form {

    margin-bottom: 100px;
    margin-left: 15px;

}

input {

    text-align: center;
    width: 670px;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-right: 30px;
    white-space: nowrap;

}

.regist-input1 {
    display: flex;
    margin-left: 175px;
    height: 32px;
}

.registr-input2 {
    display: flex;
    margin-top: 68px;
    margin-left: 148px;
    height: 32px;
}

.registr-input3 {
    display: flex;
    margin-top: 54px;
    height: 32px;
}

.reg-button {

    width: 370px;
    height: 61px;
    font-family: Roboto;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}

.reg-button-div-active {
    margin-top: 58px;
    margin-left: 420px;
    transition: all .25s ease;
}

.registr-inactive {
    transition: all .25s ease;
    margin-top: 87px;
    width: 955px;
    height: 218px;
    transform: translate(1000px);
}

.login-inactive {
    transition: all .25s ease;
    width: 955px;
    height: 132px;
}

.login-input1 {
    display: flex;
    margin-left: 175px;
    height: 32px;
}

.login-input2 {
    display: flex;
    margin-top: 68px;
    margin-left: 148px;
    height: 32px;
}

.login-active {
    margin-top: 87px;
    width: 955px;
    height: 132px;

    transition: all .25s ease;
    transform: translateY(-450px);
}

.signin-active a {
    padding-bottom: 10px;
    color: gray;
    border-bottom-color: gray;
    text-decoration: none;
    border-bottom: solid 2px;
    transition: all .25s ease;
    cursor: pointer;
}

.signin-inactive a {
    padding-bottom: 0;

    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
}

.signup-active a {
    padding-bottom: 10px;
    text-decoration: none;
    color: gray;
    border-bottom: solid 2px;
    border-bottom-color: gray;
    transition: all .25s ease;
    cursor: pointer;
}

.signup-inactive a {
    cursor: pointer;

    text-decoration: none;
    transition: all .25s ease;
}

.reg-button-div-inactive {
    margin-top: 58px;
    margin-left: 420px;
    transform: translate(1000px);
    transition: all .25s ease;

}

.log-button {

    width: 370px;
    height: 61px;
    font-family: Roboto;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}

.log-button-div-inactive {
    margin-top: 58px;
    margin-left: 420px;
    transition: all .25s ease;
}

.log-button-div-inactive {
    margin-top: 58px;
    margin-left: 420px;
    transition: all .25s ease;

}

.log-button-div-active {
    margin-top: 58px;
    margin-left: 420px;
    transition: all .25s ease;
    transform: translateY(-450px);

}
